body {
    background-color: pink; /* update the main background color for your page */
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

main {
    background-color: white;
    margin: 30px;
    min-height: 100vh;
}
p {
    color: #201acb;
}
h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}
a:hover, a:focus{
    text-shadow: 1px 1px 11px green;
}
.active-link {
  font-weight: bold;
  text-decoration: none;
  color: _;        /* new! */
}


.show-on-hover {
    display: none;
}

.scavenger-hunt:hover .show-on-hover {
    display: block;

}

.scavenger-hunt:focus .show-on-hover {
    display: block;

}
 
.show-on-hover { display: none; }
.scavenger-hunt:hover .show-on-hover,
.scavenger-hunt:focus .show-on-hover {
  display: block;
}

.cta-link:hover,
.cta-link:focus {
  text-shadow: 2px 2px 12px cyan;
}