body {
    background-color: pink; /* update the main background color for your page */
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

main {
    background-color: white;
    margin: 30px;
    min-height: 100vh;
}
p {
    color: #201acb;
}
h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}